<%= form_with(model: climbing_route, local: true) do |form| %>
  <% if climbing_route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(climbing_route.errors.count, "error") %> prohibited this climbing_route from being saved:</h2>

      <ul>
        <% climbing_route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :beta %>
    <%= form.text_area :beta %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
